stages:
  - build

build:
  stage: build
  script:
    - curl --header "X-Auth-Token:XgmdN2J0fFC5UDdGFzRz9cGPsn9Sorfurya0dcoQlk5" --header "X-User-Id:t99TsHmSEPkf5cmF4" --header "Content-type:application/json" 'https://corp.anonchat.pro/api/v1/chat.sendMessage' --data '{\"message\":{\"rid\":\"GENERAL\",\"msg\":\"@here ВНИМАНИЕ! Обновление исходного кода. Осталось пару минут...!\"}}'
    - meteor npm install
    - meteor npm run lint
    - meteor npm run testunit
    - export TOOL_NODE_FLAGS="--max_old_space_size=4096"
    - set +e
    - meteor add rocketchat:lib
    - set -e
    - rm -rf /opt/rocket-build/*
    - meteor build --server-only --directory /opt/rocket-build
    - cd /opt/rocket-build/bundle/programs/server/
    - npm install
    - curl --header "X-Auth-Token:XgmdN2J0fFC5UDdGFzRz9cGPsn9Sorfurya0dcoQlk5" --header "X-User-Id:t99TsHmSEPkf5cmF4" --header "Content-type:application/json" 'https://corp.anonchat.pro/api/v1/chat.sendMessage' --data '{\"message\":{\"rid\":\"GENERAL\",\"msg\":\"@here ВНИМАНИЕ! Обновление исходного кода. Осталось пару минут...!\"}}'
    - rsync -a --delete /opt/rocket-build/bundle/ /opt/Rocket.Chat/
    - sudo /bin/systemctl restart rocketchat.service
    - curl --header "X-Auth-Token:XgmdN2J0fFC5UDdGFzRz9cGPsn9Sorfurya0dcoQlk5" --header "X-User-Id:t99TsHmSEPkf5cmF4" --header "Content-type:application/json" 'https://corp.anonchat.pro/api/v1/chat.sendMessage' --data '{\"message\":{\"rid\":\"GENERAL\",\"msg\":\"@here ВНИМАНИЕ! Обновление исходного кода ЗАВЕРШЕНО!\"}}'
  tags:
    - chat-dev
