image: circleci/node:8.11
# image: docker:latest
services:
- docker:dind

stages:
- build
- test
- release
- deploy

variables:
  TEST_IMAGE: gitlab.apianon.ru:5555/backend/rocket:$CI_COMMIT_REF_NAME
  RELEASE_IMAGE: gitlab.apianon.ru:5555/backend/rocket:latest
  #https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-executor
  DOCKER_DRIVER: overlay2

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab.apianon.ru:5555
  #https://medium.com/@Empanado/simple-continuous-deployment-with-docker-compose-docker-machine-and-gitlab-ci-9047765322e1
  - apk add --update py-pip
  - pip install docker-compose
#   - apk add curl
#   - apk add bash
#   - apk add gnupg
  - node -v
#   - curl -sL https://deb.nodesource.com/setup_8.x  | bash -
  # - apk add nodejs=10.14.2-r0
  # - npm install
#   - curl https://install.meteor.com | sed s/--progress-bar/-sL/g | /bin/sh
#   - export TOOL_NODE_FLAGS="--max_old_space_size=4096"
#   - meteor npm install
#   - set +e
#   - meteor add rocketchat:lib
#   - set -e
#   - meteor build --server-only --directory /tmp/build


build:
  stage: build
  script:
    - curl https://install.meteor.com | sed s/--progress-bar/-sL/g | /bin/sh
    - export TOOL_NODE_FLAGS="--max_old_space_size=4096"
    - meteor npm install
    - set +e
    - meteor add rocketchat:lib
    - set -e
    - meteor build --server-only --directory /tmp/build
    - docker build --pull -t $TEST_IMAGE .
    - docker push $TEST_IMAGE
  when: manual

test:
  stage: test
  script:
    - docker pull $TEST_IMAGE
    - docker run $TEST_IMAGE npm test
  when: manual

release:
  stage: release
  script:
    - docker pull $TEST_IMAGE
    - docker tag $TEST_IMAGE $RELEASE_IMAGE
    - docker push $RELEASE_IMAGE
  only:
    - develop
  when: manual

stage deploy:
  stage: deploy
  script:
    - export NODE_ENV=dev
    - export REDIS_HOST=${STAGE_REDIS_HOST}
    - export WS_SERVER=${STAGE_WS_SERVER}
    - export MYSQL_MASTER=${STAGE_MYSQL_MASTER}
    - export MYSQL_REPLICA=${STAGE_MYSQL_REPLICA}

    # Docker configuration
    - export DOCKER_HOST=tcp://stage.apianon.ru:2375
    - docker-compose pull
    - docker-compose up -d
  only:
    - develop
  when: manual

prod deploy:
  stage: deploy
  script:
    - export NODE_ENV=production
    - export REDIS_HOST=${PROD_REDIS_HOST}
    - export WS_SERVER=${PROD_WS_SERVER}
    - export MYSQL_MASTER=${PROD_MYSQL_MASTER}
    - export MYSQL_REPLICA=${PROD_MYSQL_REPLICA}

    # Docker configuration
    - export DOCKER_HOST=tcp://public.apianon.ru:2375
    - docker-compose pull
    - docker-compose up -d
  when: manual
